/* #portfolioMobile {
  border: 1px solid black;
} */

#portfolioMobile .carousel {
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
  overflow: hidden;
  /* max-width: 40%; */
  max-width: 600px;
}

#portfolioMobile .carousel .carouselItems,
#portfolioMobile .carousel .carouselItems_hidden {
  display: none;
}

/* #portfolioMobile .carousel .carouselItems {
  border: 1px solid blue;
} */

#portfolioMobile .carousel .carouselItems_visible {
  display: block;
  animation-name: showTransition;
  animation-duration: 1s;
}

@keyframes showTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transition: opacity ease;
  }
}

#portfolioMobile .carousel .carouselActions {
  margin-top: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.carouselActions button {
  font-family: Arial Narrow;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 5px;
  background-color: #6890f0;
  border: 2px solid #53648d;
  border-radius: 15px;
  width: 25%;
  cursor: pointer;
}

.carouselActions button:hover {
  background-color: #2a61e0;
  border: 2px solid #53648d;
}

#portfolioMobile img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

#portfolioMobile h4 {
  font-family: Arial Narrow;
  font-size: 2vh;
  padding: 5px;
}

#portfolioMobile p {
  font-family: Arial Narrow;
  font-size: 14px;
  padding: 5px;
}
